body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:351px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:579px;
}
#u557 {
  position:absolute;
  left:16px;
  top:9px;
  width:335px;
  height:579px;
}
#u558 {
  position:absolute;
  left:2px;
  top:282px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
