body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1066px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:580px;
}
#u1238 {
  position:absolute;
  left:139px;
  top:62px;
  width:338px;
  height:580px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:282px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u1240 {
  position:absolute;
  left:223px;
  top:109px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u1241 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
}
#u1242 {
  position:absolute;
  left:231px;
  top:186px;
  width:224px;
  height:16px;
}
#u1243 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u1244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1244 {
  position:absolute;
  left:139px;
  top:496px;
  width:338px;
  height:43px;
  text-align:left;
}
#u1245 {
  position:absolute;
  left:2px;
  top:14px;
  width:334px;
  word-wrap:break-word;
}
#u1246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1246 {
  position:absolute;
  left:424px;
  top:309px;
  width:37px;
  height:16px;
  color:#999999;
}
#u1247 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1248 {
  position:absolute;
  left:139px;
  top:592px;
  width:338px;
  height:50px;
  color:#FFFFFF;
}
#u1249 {
  position:absolute;
  left:2px;
  top:17px;
  width:334px;
  word-wrap:break-word;
}
#u1250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u1250 {
  position:absolute;
  left:276px;
  top:131px;
  width:71px;
  height:16px;
  color:#008000;
}
#u1251 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
}
#u1252 {
  position:absolute;
  left:231px;
  top:212px;
  width:224px;
  height:16px;
}
#u1253 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u1254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:580px;
}
#u1254 {
  position:absolute;
  left:728px;
  top:62px;
  width:338px;
  height:580px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:282px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u1256 {
  position:absolute;
  left:812px;
  top:109px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u1257 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
}
#u1258 {
  position:absolute;
  left:820px;
  top:186px;
  width:224px;
  height:16px;
}
#u1259 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u1260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1260 {
  position:absolute;
  left:728px;
  top:496px;
  width:338px;
  height:43px;
  text-align:left;
}
#u1261 {
  position:absolute;
  left:2px;
  top:14px;
  width:334px;
  word-wrap:break-word;
}
#u1262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1262 {
  position:absolute;
  left:1013px;
  top:309px;
  width:37px;
  height:16px;
  color:#999999;
}
#u1263 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u1264 {
  position:absolute;
  left:865px;
  top:131px;
  width:71px;
  height:16px;
  color:#008000;
}
#u1265 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
}
#u1266 {
  position:absolute;
  left:820px;
  top:212px;
  width:224px;
  height:16px;
}
#u1267 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u1268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1268 {
  position:absolute;
  left:728px;
  top:592px;
  width:338px;
  height:50px;
  color:#FFFFFF;
}
#u1269 {
  position:absolute;
  left:2px;
  top:17px;
  width:334px;
  word-wrap:break-word;
}
#u1270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1270 {
  position:absolute;
  left:535px;
  top:309px;
  width:127px;
  height:16px;
}
#u1271 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1272_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:75px;
  height:21px;
}
#u1272p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:66px;
  height:1px;
}
#u1272p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:77px;
  height:21px;
}
#u1272p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1272p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u1272p002 {
  position:absolute;
  left:63px;
  top:0px;
  width:2px;
  height:1px;
}
#u1272p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u1272.compound {
  width:0px;
  height:0px;
}
#u1272 {
  position:absolute;
  left:471px;
  top:317px;
  width:64px;
  height:1px;
}
#u1273 {
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1274 {
  position:absolute;
  left:139px;
  top:30px;
  width:291px;
  height:16px;
}
#u1275 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  white-space:nowrap;
}
#u1276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1276 {
  position:absolute;
  left:728px;
  top:20px;
  width:309px;
  height:32px;
}
#u1277 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u1278_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:286px;
  height:21px;
}
#u1278p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:268px;
  height:1px;
}
#u1278p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:288px;
  height:21px;
}
#u1278p001 {
  position:absolute;
  left:-9px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1278p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u1278p002 {
  position:absolute;
  left:252px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1278p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u1278.compound {
  width:0px;
  height:0px;
}
#u1278 {
  position:absolute;
  left:462px;
  top:139px;
  width:266px;
  height:1px;
}
#u1279 {
  position:absolute;
  left:2px;
  top:-8px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1280 {
  position:absolute;
  left:532px;
  top:131px;
  width:141px;
  height:16px;
}
#u1281 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
