body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:969px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:580px;
}
#u818 {
  position:absolute;
  left:82px;
  top:27px;
  width:338px;
  height:580px;
}
#u819 {
  position:absolute;
  left:2px;
  top:282px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u820 {
  position:absolute;
  left:166px;
  top:74px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u821 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u822 {
  position:absolute;
  left:253px;
  top:151px;
  width:145px;
  height:16px;
  font-size:16px;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  visibility:hidden;
  white-space:nowrap;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:59px;
}
#u824 {
  position:absolute;
  left:82px;
  top:548px;
  width:338px;
  height:59px;
}
#u825 {
  position:absolute;
  left:2px;
  top:22px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u826 {
  position:absolute;
  left:82px;
  top:461px;
  width:338px;
  height:43px;
  text-align:left;
}
#u827 {
  position:absolute;
  left:2px;
  top:14px;
  width:334px;
  word-wrap:break-word;
}
#u828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u828 {
  position:absolute;
  left:349px;
  top:35px;
  width:57px;
  height:16px;
  color:#999999;
}
#u829 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:580px;
}
#u830 {
  position:absolute;
  left:631px;
  top:27px;
  width:338px;
  height:580px;
}
#u831 {
  position:absolute;
  left:2px;
  top:282px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u832 {
  position:absolute;
  left:715px;
  top:74px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u833 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u834 {
  position:absolute;
  left:802px;
  top:151px;
  width:145px;
  height:16px;
  font-size:16px;
}
#u835 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  visibility:hidden;
  white-space:nowrap;
}
#u836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u836 {
  position:absolute;
  left:898px;
  top:35px;
  width:57px;
  height:16px;
  color:#999999;
}
#u837 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:59px;
}
#u838 {
  position:absolute;
  left:631px;
  top:548px;
  width:338px;
  height:59px;
}
#u839 {
  position:absolute;
  left:2px;
  top:22px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:546px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.717647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u840 {
  position:absolute;
  left:631px;
  top:61px;
  width:338px;
  height:546px;
}
#u841 {
  position:absolute;
  left:2px;
  top:265px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:329px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u842 {
  position:absolute;
  left:655px;
  top:139px;
  width:300px;
  height:329px;
}
#u843 {
  position:absolute;
  left:2px;
  top:156px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u844 {
  position:absolute;
  left:731px;
  top:160px;
  width:163px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u846 {
  position:absolute;
  left:925px;
  top:127px;
  width:30px;
  height:30px;
  font-size:36px;
}
#u847 {
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:125px;
}
#u848 {
  position:absolute;
  left:750px;
  top:206px;
  width:127px;
  height:125px;
}
#u849 {
  position:absolute;
  left:2px;
  top:54px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:67px;
}
#u850 {
  position:absolute;
  left:721px;
  top:360px;
  width:185px;
  height:67px;
}
#u851 {
  position:absolute;
  left:2px;
  top:26px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u852 {
  position:absolute;
  left:729px;
  top:437px;
  width:169px;
  height:16px;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u854 {
  position:absolute;
  left:367px;
  top:274px;
  width:37px;
  height:16px;
  color:#999999;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
