body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:383px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:655px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1740 {
  position:absolute;
  left:49px;
  top:54px;
  width:334px;
  height:655px;
}
#u1741 {
  position:absolute;
  left:2px;
  top:320px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:120px;
}
#u1742 {
  position:absolute;
  left:49px;
  top:54px;
  width:334px;
  height:120px;
}
#u1743 {
  position:absolute;
  left:2px;
  top:52px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:281px;
}
#u1744 {
  position:absolute;
  left:49px;
  top:179px;
  width:334px;
  height:281px;
}
#u1745 {
  position:absolute;
  left:2px;
  top:132px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:21px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1746 {
  position:absolute;
  left:160px;
  top:61px;
  width:146px;
  height:21px;
  text-align:center;
}
#u1747 {
  position:absolute;
  left:0px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u1748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1748 {
  position:absolute;
  left:224px;
  top:185px;
  width:159px;
  height:28px;
}
#u1749 {
  position:absolute;
  left:2px;
  top:6px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6666;
}
#u1750 {
  position:absolute;
  left:310px;
  top:136px;
  width:73px;
  height:28px;
  color:#FF6666;
}
#u1751 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u1752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1752 {
  position:absolute;
  left:315px;
  top:274px;
  width:29px;
  height:16px;
  color:#CCCCCC;
}
#u1753 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1754 {
  position:absolute;
  left:315px;
  top:358px;
  width:29px;
  height:16px;
  color:#CCCCCC;
}
#u1755 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1756 {
  position:absolute;
  left:49px;
  top:300px;
  width:334px;
  height:14px;
}
#u1757 {
  position:absolute;
  left:2px;
  top:-1px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1758 {
  position:absolute;
  left:49px;
  top:314px;
  width:120px;
  height:23px;
}
#u1759 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1760_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:19px;
}
#u1760 {
  position:absolute;
  left:61px;
  top:321px;
  width:2px;
  height:16px;
}
#u1761 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1762 {
  position:absolute;
  left:73px;
  top:321px;
  width:107px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1763 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(251, 251, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1764 {
  position:absolute;
  left:70px;
  top:192px;
  width:93px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1765 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u1766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1766 {
  position:absolute;
  left:315px;
  top:396px;
  width:29px;
  height:16px;
  color:#CCCCCC;
}
#u1767 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1768 {
  position:absolute;
  left:233px;
  top:192px;
  width:75px;
  height:16px;
}
#u1769 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1770 {
  position:absolute;
  left:243px;
  top:321px;
  width:130px;
  height:16px;
}
#u1771 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u1772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1772 {
  position:absolute;
  left:68px;
  top:372px;
  width:50px;
  height:16px;
}
#u1773 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u1774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:2px;
}
#u1774 {
  position:absolute;
  left:128px;
  top:380px;
  width:52px;
  height:1px;
  color:#CCCCCC;
}
#u1775 {
  position:absolute;
  left:2px;
  top:-8px;
  width:48px;
  word-wrap:break-word;
}
#u1776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1776 {
  position:absolute;
  left:68px;
  top:418px;
  width:50px;
  height:16px;
}
#u1777 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u1778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:2px;
}
#u1778 {
  position:absolute;
  left:128px;
  top:426px;
  width:52px;
  height:1px;
  color:#CCCCCC;
}
#u1779 {
  position:absolute;
  left:2px;
  top:-8px;
  width:48px;
  word-wrap:break-word;
}
#u1780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1780 {
  position:absolute;
  left:49px;
  top:434px;
  width:334px;
  height:170px;
}
#u1781 {
  position:absolute;
  left:2px;
  top:77px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
