body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:857px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:576px;
}
#u958 {
  position:absolute;
  left:49px;
  top:59px;
  width:334px;
  height:576px;
}
#u959 {
  position:absolute;
  left:2px;
  top:280px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:21px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u960 {
  position:absolute;
  left:160px;
  top:66px;
  width:146px;
  height:21px;
  text-align:center;
}
#u961 {
  position:absolute;
  left:0px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u962 {
  position:absolute;
  left:49px;
  top:563px;
  width:334px;
  height:26px;
  text-align:left;
}
#u963 {
  position:absolute;
  left:2px;
  top:5px;
  width:330px;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u964 {
  position:absolute;
  left:224px;
  top:314px;
  width:159px;
  height:28px;
}
#u965 {
  position:absolute;
  left:2px;
  top:6px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u966 {
  position:absolute;
  left:444px;
  top:320px;
  width:413px;
  height:16px;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:72px;
  height:21px;
}
#u968p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:63px;
  height:1px;
}
#u968p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:74px;
  height:21px;
}
#u968p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u968p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u968p002 {
  position:absolute;
  left:60px;
  top:0px;
  width:2px;
  height:1px;
}
#u968p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u968.compound {
  width:0px;
  height:0px;
}
#u968 {
  position:absolute;
  left:383px;
  top:328px;
  width:61px;
  height:1px;
}
#u969 {
  position:absolute;
  left:2px;
  top:-8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6666;
}
#u970 {
  position:absolute;
  left:96px;
  top:599px;
  width:73px;
  height:28px;
  color:#FF6666;
}
#u971 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u972 {
  position:absolute;
  left:180px;
  top:677px;
  width:367px;
  height:16px;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u974 {
  position:absolute;
  left:444px;
  top:568px;
  width:337px;
  height:32px;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u976_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:108px;
  height:21px;
}
#u976p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:99px;
  height:1px;
}
#u976p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:110px;
  height:21px;
}
#u976p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u976p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u976p002 {
  position:absolute;
  left:96px;
  top:0px;
  width:2px;
  height:1px;
}
#u976p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u976.compound {
  width:0px;
  height:0px;
}
#u976 {
  position:absolute;
  left:347px;
  top:576px;
  width:97px;
  height:1px;
}
#u977 {
  position:absolute;
  left:2px;
  top:-8px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978 {
  position:absolute;
  left:133px;
  top:627px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u978_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u978_seg1 {
  position:absolute;
  left:-4px;
  top:54px;
  width:49px;
  height:8px;
}
#u978_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u979 {
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u980 {
  position:absolute;
  left:112px;
  top:181px;
  width:113px;
  height:16px;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u982_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:77px;
  height:21px;
}
#u982p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:68px;
  height:1px;
}
#u982p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:79px;
  height:21px;
}
#u982p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u982p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u982p002 {
  position:absolute;
  left:65px;
  top:0px;
  width:2px;
  height:1px;
}
#u982p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u982.compound {
  width:0px;
  height:0px;
}
#u982 {
  position:absolute;
  left:378px;
  top:367px;
  width:66px;
  height:1px;
}
#u983 {
  position:absolute;
  left:2px;
  top:-8px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u984 {
  position:absolute;
  left:444px;
  top:294px;
  width:337px;
  height:16px;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u986 {
  position:absolute;
  left:315px;
  top:403px;
  width:29px;
  height:16px;
  color:#CCCCCC;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u988 {
  position:absolute;
  left:315px;
  top:487px;
  width:29px;
  height:16px;
  color:#CCCCCC;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u990 {
  position:absolute;
  left:444px;
  top:360px;
  width:141px;
  height:16px;
  font-size:14px;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u992_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:77px;
  height:21px;
}
#u992p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:68px;
  height:1px;
}
#u992p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:79px;
  height:21px;
}
#u992p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u992p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u992p002 {
  position:absolute;
  left:65px;
  top:0px;
  width:2px;
  height:1px;
}
#u992p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u992.compound {
  width:0px;
  height:0px;
}
#u992 {
  position:absolute;
  left:378px;
  top:410px;
  width:66px;
  height:1px;
}
#u993 {
  position:absolute;
  left:2px;
  top:-8px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u994 {
  position:absolute;
  left:444px;
  top:403px;
  width:141px;
  height:16px;
  font-size:14px;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u996_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:77px;
  height:21px;
}
#u996p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:68px;
  height:1px;
}
#u996p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:79px;
  height:21px;
}
#u996p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u996p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u996p002 {
  position:absolute;
  left:65px;
  top:0px;
  width:2px;
  height:1px;
}
#u996p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u996.compound {
  width:0px;
  height:0px;
}
#u996 {
  position:absolute;
  left:380px;
  top:496px;
  width:66px;
  height:1px;
}
#u997 {
  position:absolute;
  left:2px;
  top:-8px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:48px;
}
#u998 {
  position:absolute;
  left:446px;
  top:489px;
  width:272px;
  height:48px;
  font-size:14px;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1000 {
  position:absolute;
  left:49px;
  top:429px;
  width:334px;
  height:14px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:-1px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1002 {
  position:absolute;
  left:49px;
  top:443px;
  width:120px;
  height:23px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:19px;
}
#u1004 {
  position:absolute;
  left:61px;
  top:450px;
  width:2px;
  height:16px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1006 {
  position:absolute;
  left:73px;
  top:450px;
  width:107px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(251, 251, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1008 {
  position:absolute;
  left:70px;
  top:321px;
  width:93px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1010 {
  position:absolute;
  left:315px;
  top:525px;
  width:29px;
  height:16px;
  color:#CCCCCC;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1012 {
  position:absolute;
  left:351px;
  top:485px;
  width:20px;
  height:20px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1014 {
  position:absolute;
  left:352px;
  top:523px;
  width:20px;
  height:20px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1016 {
  position:absolute;
  left:233px;
  top:321px;
  width:75px;
  height:16px;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1018 {
  position:absolute;
  left:243px;
  top:450px;
  width:130px;
  height:16px;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1020 {
  position:absolute;
  left:68px;
  top:505px;
  width:50px;
  height:16px;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:2px;
}
#u1022 {
  position:absolute;
  left:128px;
  top:513px;
  width:52px;
  height:1px;
  color:#CCCCCC;
}
#u1023 {
  position:absolute;
  left:2px;
  top:-8px;
  width:48px;
  word-wrap:break-word;
}
#u1024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1024 {
  position:absolute;
  left:71px;
  top:547px;
  width:50px;
  height:16px;
}
#u1025 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:2px;
}
#u1026 {
  position:absolute;
  left:131px;
  top:555px;
  width:52px;
  height:1px;
  color:#CCCCCC;
}
#u1027 {
  position:absolute;
  left:2px;
  top:-8px;
  width:48px;
  word-wrap:break-word;
}
