body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:909px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:573px;
}
#u640 {
  position:absolute;
  left:81px;
  top:26px;
  width:338px;
  height:573px;
}
#u641 {
  position:absolute;
  left:2px;
  top:278px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u642 {
  position:absolute;
  left:173px;
  top:237px;
  width:113px;
  height:16px;
}
#u643 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u644 {
  position:absolute;
  left:173px;
  top:263px;
  width:236px;
  height:31px;
}
#u645 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u646 {
  position:absolute;
  left:250px;
  top:558px;
  width:169px;
  height:35px;
}
#u647 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648 {
  position:absolute;
  left:81px;
  top:558px;
  width:169px;
  height:35px;
}
#u649 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u650 {
  position:absolute;
  left:466px;
  top:540px;
  width:443px;
  height:64px;
}
#u651 {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  white-space:nowrap;
}
