body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:416px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u645 {
  position:absolute;
  left:41px;
  top:31px;
  width:520px;
  height:416px;
}
#u646 {
  position:absolute;
  left:2px;
  top:200px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:37px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u647 {
  position:absolute;
  left:85px;
  top:99px;
  width:440px;
  height:37px;
}
#u648 {
  position:absolute;
  left:2px;
  top:10px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u649 {
  position:absolute;
  left:95px;
  top:110px;
  width:113px;
  height:16px;
}
#u650 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:242px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u651 {
  position:absolute;
  left:85px;
  top:135px;
  width:440px;
  height:242px;
}
#u652 {
  position:absolute;
  left:2px;
  top:113px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u653 {
  position:absolute;
  left:167px;
  top:153px;
  width:331px;
  height:115px;
}
#u654 {
  position:absolute;
  left:2px;
  top:50px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u655 {
  position:absolute;
  left:96px;
  top:153px;
  width:71px;
  height:16px;
}
#u656 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u657 {
  position:absolute;
  left:334px;
  top:320px;
  width:77px;
  height:31px;
  font-size:16px;
  color:#FFFFFF;
}
#u658 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u659 {
  position:absolute;
  left:220px;
  top:320px;
  width:77px;
  height:31px;
  font-size:16px;
  color:#666666;
}
#u660 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u661 {
  position:absolute;
  left:441px;
  top:248px;
  width:45px;
  height:16px;
}
#u662 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u663 {
  position:absolute;
  left:177px;
  top:163px;
  width:313px;
  height:48px;
}
#u664 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  word-wrap:break-word;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u665 {
  position:absolute;
  left:466px;
  top:109px;
  width:42px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u666 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u667 {
  position:absolute;
  left:571px;
  top:135px;
  width:518px;
  height:240px;
}
#u668 {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  word-wrap:break-word;
}
#u669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:37px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u669 {
  position:absolute;
  left:1179px;
  top:30px;
  width:420px;
  height:37px;
}
#u670 {
  position:absolute;
  left:2px;
  top:10px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u671 {
  position:absolute;
  left:1189px;
  top:41px;
  width:113px;
  height:16px;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:238px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u673 {
  position:absolute;
  left:1179px;
  top:66px;
  width:420px;
  height:238px;
}
#u674 {
  position:absolute;
  left:2px;
  top:111px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u675 {
  position:absolute;
  left:1261px;
  top:84px;
  width:308px;
  height:115px;
}
#u676 {
  position:absolute;
  left:2px;
  top:50px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u677 {
  position:absolute;
  left:1190px;
  top:84px;
  width:71px;
  height:16px;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u679 {
  position:absolute;
  left:1428px;
  top:259px;
  width:77px;
  height:31px;
  font-size:16px;
  color:#FFFFFF;
}
#u680 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u681 {
  position:absolute;
  left:1314px;
  top:259px;
  width:77px;
  height:31px;
  font-size:16px;
  color:#666666;
}
#u682 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u683 {
  position:absolute;
  left:1506px;
  top:179px;
  width:45px;
  height:16px;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u685 {
  position:absolute;
  left:1271px;
  top:94px;
  width:285px;
  height:48px;
}
#u686 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u687 {
  position:absolute;
  left:1539px;
  top:40px;
  width:42px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u689 {
  position:absolute;
  left:1261px;
  top:222px;
  width:121px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:51px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u691 {
  position:absolute;
  left:1179px;
  top:364px;
  width:380px;
  height:51px;
  font-size:14px;
}
#u692 {
  position:absolute;
  left:2px;
  top:18px;
  width:376px;
  word-wrap:break-word;
}
#u693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:51px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u693 {
  position:absolute;
  left:1179px;
  top:444px;
  width:380px;
  height:51px;
  font-size:14px;
}
#u694 {
  position:absolute;
  left:2px;
  top:18px;
  width:376px;
  word-wrap:break-word;
}
#u695 {
  position:absolute;
  left:411px;
  top:336px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u695_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:107px;
  height:8px;
}
#u695_seg1 {
  position:absolute;
  left:99px;
  top:-103px;
  width:8px;
  height:107px;
}
#u695_seg2 {
  position:absolute;
  left:99px;
  top:-103px;
  width:65px;
  height:8px;
}
#u695_seg3 {
  position:absolute;
  left:156px;
  top:-103px;
  width:8px;
  height:5px;
}
#u695_seg4 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u696 {
  position:absolute;
  left:53px;
  top:-35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u697 {
  position:absolute;
  left:571px;
  top:543px;
  width:308px;
  height:32px;
}
#u698 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u699 {
  position:absolute;
  left:259px;
  top:351px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u699_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:212px;
}
#u699_seg1 {
  position:absolute;
  left:-4px;
  top:204px;
  width:316px;
  height:8px;
}
#u699_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u700 {
  position:absolute;
  left:2px;
  top:200px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:51px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u701 {
  position:absolute;
  left:1179px;
  top:533px;
  width:380px;
  height:51px;
  font-size:14px;
}
#u702 {
  position:absolute;
  left:2px;
  top:18px;
  width:376px;
  word-wrap:break-word;
}
#u703 {
  position:absolute;
  left:879px;
  top:559px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u703_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:304px;
  height:8px;
}
#u703_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u704 {
  position:absolute;
  left:100px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:64px;
}
#u705 {
  position:absolute;
  left:597px;
  top:71px;
  width:518px;
  height:64px;
  font-size:14px;
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  word-wrap:break-word;
}
#u707 {
  position:absolute;
  left:477px;
  top:165px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u707_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u707_seg1 {
  position:absolute;
  left:50px;
  top:-89px;
  width:8px;
  height:93px;
}
#u707_seg2 {
  position:absolute;
  left:50px;
  top:-89px;
  width:74px;
  height:8px;
}
#u707_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u708 {
  position:absolute;
  left:4px;
  top:-58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u709 {
  position:absolute;
  left:1668px;
  top:179px;
  width:300px;
  height:32px;
  font-size:14px;
}
#u710 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u711 {
  position:absolute;
  left:1179px;
  top:390px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u711_seg0 {
  position:absolute;
  left:-29px;
  top:-4px;
  width:29px;
  height:8px;
}
#u711_seg1 {
  position:absolute;
  left:-29px;
  top:-126px;
  width:8px;
  height:130px;
}
#u711_seg2 {
  position:absolute;
  left:-119px;
  top:-126px;
  width:98px;
  height:8px;
}
#u711_seg3 {
  position:absolute;
  left:-119px;
  top:-124px;
  width:8px;
  height:6px;
}
#u711_seg4 {
  position:absolute;
  left:-125px;
  top:-131px;
  width:20px;
  height:20px;
}
#u712 {
  position:absolute;
  left:-75px;
  top:-102px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713 {
  position:absolute;
  left:1179px;
  top:470px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u713_seg0 {
  position:absolute;
  left:-74px;
  top:-4px;
  width:74px;
  height:8px;
}
#u713_seg1 {
  position:absolute;
  left:-74px;
  top:-121px;
  width:8px;
  height:125px;
}
#u713_seg2 {
  position:absolute;
  left:-355px;
  top:-121px;
  width:289px;
  height:8px;
}
#u713_seg3 {
  position:absolute;
  left:-355px;
  top:-121px;
  width:8px;
  height:8px;
}
#u713_seg4 {
  position:absolute;
  left:-361px;
  top:-128px;
  width:20px;
  height:20px;
}
#u714 {
  position:absolute;
  left:-169px;
  top:-125px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u715 {
  position:absolute;
  left:167px;
  top:272px;
  width:211px;
  height:16px;
  color:#999999;
}
#u716 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u717 {
  position:absolute;
  left:1262px;
  top:203px;
  width:211px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u718 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u719 {
  position:absolute;
  left:1261px;
  top:230px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u719_seg0 {
  position:absolute;
  left:-139px;
  top:-4px;
  width:139px;
  height:8px;
}
#u719_seg1 {
  position:absolute;
  left:-139px;
  top:-31px;
  width:8px;
  height:35px;
}
#u719_seg2 {
  position:absolute;
  left:-476px;
  top:-31px;
  width:345px;
  height:8px;
}
#u719_seg3 {
  position:absolute;
  left:-476px;
  top:-27px;
  width:8px;
  height:4px;
}
#u719_seg4 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u720 {
  position:absolute;
  left:-272px;
  top:-35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
