body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1104px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:538px;
}
#u887 {
  position:absolute;
  left:24px;
  top:31px;
  width:1080px;
  height:538px;
}
#u888 {
  position:absolute;
  left:2px;
  top:261px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u889 {
  position:absolute;
  left:395px;
  top:369px;
  width:57px;
  height:16px;
  color:#008000;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u891 {
  position:absolute;
  left:395px;
  top:404px;
  width:57px;
  height:16px;
  color:#008000;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u893 {
  position:absolute;
  left:395px;
  top:439px;
  width:57px;
  height:16px;
  color:#008000;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u895 {
  position:absolute;
  left:395px;
  top:476px;
  width:57px;
  height:16px;
  color:#008000;
}
#u896 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u897 {
  position:absolute;
  left:395px;
  top:511px;
  width:57px;
  height:16px;
  color:#008000;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u899 {
  position:absolute;
  left:395px;
  top:543px;
  width:57px;
  height:16px;
  color:#008000;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u901 {
  position:absolute;
  left:407px;
  top:295px;
  width:472px;
  height:16px;
  color:#FF0000;
}
#u902 {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  white-space:nowrap;
}
#u903_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:68px;
}
#u903p000 {
  position:absolute;
  left:-29px;
  top:28px;
  width:59px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u903p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:79px;
  height:12px;
}
#u903p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u903p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u903p002 {
  position:absolute;
  left:-11px;
  top:43px;
  width:22px;
  height:22px;
}
#u903p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u903.compound {
  width:0px;
  height:0px;
}
#u903 {
  position:absolute;
  left:423px;
  top:311px;
  width:1px;
  height:58px;
}
#u904 {
  position:absolute;
  left:2px;
  top:21px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u905 {
  position:absolute;
  left:199px;
  top:182px;
  width:130px;
  height:34px;
  color:#666666;
}
#u906 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  word-wrap:break-word;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u907 {
  position:absolute;
  left:328px;
  top:182px;
  width:130px;
  height:34px;
  color:#FFFFFF;
}
#u908 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  word-wrap:break-word;
}
