body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1104px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:538px;
}
#u556 {
  position:absolute;
  left:24px;
  top:31px;
  width:1080px;
  height:538px;
}
#u557 {
  position:absolute;
  left:2px;
  top:261px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u558 {
  position:absolute;
  left:395px;
  top:369px;
  width:57px;
  height:16px;
  color:#008000;
}
#u559 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u560 {
  position:absolute;
  left:395px;
  top:404px;
  width:57px;
  height:16px;
  color:#008000;
}
#u561 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u562 {
  position:absolute;
  left:395px;
  top:439px;
  width:57px;
  height:16px;
  color:#008000;
}
#u563 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u564 {
  position:absolute;
  left:395px;
  top:476px;
  width:57px;
  height:16px;
  color:#008000;
}
#u565 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u566 {
  position:absolute;
  left:395px;
  top:511px;
  width:57px;
  height:16px;
  color:#008000;
}
#u567 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u568 {
  position:absolute;
  left:395px;
  top:543px;
  width:57px;
  height:16px;
  color:#008000;
}
#u569 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u570 {
  position:absolute;
  left:407px;
  top:295px;
  width:351px;
  height:16px;
  color:#FF0000;
}
#u571 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u572_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:68px;
}
#u572p000 {
  position:absolute;
  left:-29px;
  top:28px;
  width:59px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u572p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:79px;
  height:12px;
}
#u572p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u572p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u572p002 {
  position:absolute;
  left:-11px;
  top:43px;
  width:22px;
  height:22px;
}
#u572p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u572.compound {
  width:0px;
  height:0px;
}
#u572 {
  position:absolute;
  left:423px;
  top:311px;
  width:1px;
  height:58px;
}
#u573 {
  position:absolute;
  left:2px;
  top:21px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
