body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1158px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1133px;
  height:480px;
}
#u873 {
  position:absolute;
  left:25px;
  top:69px;
  width:1133px;
  height:480px;
}
#u874 {
  position:absolute;
  left:2px;
  top:232px;
  width:1129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u875 {
  position:absolute;
  left:587px;
  top:32px;
  width:141px;
  height:24px;
  font-size:20px;
}
#u876 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877 {
  position:absolute;
  left:45px;
  top:483px;
  width:99px;
  height:16px;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u879 {
  position:absolute;
  left:25px;
  top:315px;
  width:227px;
  height:83px;
}
#u880 {
  position:absolute;
  left:2px;
  top:34px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u881 {
  position:absolute;
  left:361px;
  top:349px;
  width:225px;
  height:16px;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u883_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:120px;
  height:21px;
}
#u883p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:111px;
  height:1px;
}
#u883p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:122px;
  height:21px;
}
#u883p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u883p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u883p002 {
  position:absolute;
  left:108px;
  top:0px;
  width:2px;
  height:1px;
}
#u883p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u883.compound {
  width:0px;
  height:0px;
}
#u883 {
  position:absolute;
  left:252px;
  top:357px;
  width:109px;
  height:1px;
}
#u884 {
  position:absolute;
  left:2px;
  top:-8px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u885 {
  position:absolute;
  left:361px;
  top:266px;
  width:141px;
  height:16px;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u887_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:175px;
  height:21px;
}
#u887p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:166px;
  height:1px;
}
#u887p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:177px;
  height:21px;
}
#u887p001 {
  position:absolute;
  left:-9px;
  top:-11px;
  width:22px;
  height:22px;
}
#u887p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u887p002 {
  position:absolute;
  left:163px;
  top:0px;
  width:2px;
  height:1px;
}
#u887p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u887.compound {
  width:0px;
  height:0px;
}
#u887 {
  position:absolute;
  left:197px;
  top:274px;
  width:164px;
  height:1px;
}
#u888 {
  position:absolute;
  left:2px;
  top:-8px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
