body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1062px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:580px;
}
#u695 {
  position:absolute;
  left:47px;
  top:20px;
  width:338px;
  height:580px;
}
#u696 {
  position:absolute;
  left:2px;
  top:282px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u697 {
  position:absolute;
  left:131px;
  top:67px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u698 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
}
#u699 {
  position:absolute;
  left:139px;
  top:144px;
  width:224px;
  height:16px;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u701 {
  position:absolute;
  left:47px;
  top:454px;
  width:338px;
  height:43px;
  text-align:left;
}
#u702 {
  position:absolute;
  left:2px;
  top:14px;
  width:334px;
  word-wrap:break-word;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u703 {
  position:absolute;
  left:332px;
  top:267px;
  width:37px;
  height:16px;
  color:#999999;
}
#u704 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u705 {
  position:absolute;
  left:47px;
  top:550px;
  width:338px;
  height:50px;
  color:#FFFFFF;
}
#u706 {
  position:absolute;
  left:2px;
  top:17px;
  width:334px;
  word-wrap:break-word;
}
#u707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u707 {
  position:absolute;
  left:184px;
  top:89px;
  width:71px;
  height:16px;
  color:#008000;
}
#u708 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
}
#u709 {
  position:absolute;
  left:139px;
  top:170px;
  width:224px;
  height:16px;
}
#u710 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:580px;
}
#u711 {
  position:absolute;
  left:724px;
  top:20px;
  width:338px;
  height:580px;
}
#u712 {
  position:absolute;
  left:2px;
  top:282px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u713 {
  position:absolute;
  left:808px;
  top:67px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
}
#u715 {
  position:absolute;
  left:816px;
  top:144px;
  width:224px;
  height:16px;
}
#u716 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u717 {
  position:absolute;
  left:724px;
  top:454px;
  width:338px;
  height:43px;
  text-align:left;
}
#u718 {
  position:absolute;
  left:2px;
  top:14px;
  width:334px;
  word-wrap:break-word;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u719 {
  position:absolute;
  left:1009px;
  top:267px;
  width:37px;
  height:16px;
  color:#999999;
}
#u720 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u721 {
  position:absolute;
  left:861px;
  top:89px;
  width:71px;
  height:16px;
  color:#008000;
}
#u722 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
}
#u723 {
  position:absolute;
  left:816px;
  top:170px;
  width:224px;
  height:16px;
}
#u724 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u725 {
  position:absolute;
  left:724px;
  top:550px;
  width:338px;
  height:50px;
  color:#FFFFFF;
}
#u726 {
  position:absolute;
  left:2px;
  top:17px;
  width:334px;
  word-wrap:break-word;
}
#u727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u727 {
  position:absolute;
  left:443px;
  top:267px;
  width:127px;
  height:16px;
}
#u728 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u729_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:75px;
  height:21px;
}
#u729p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:66px;
  height:1px;
}
#u729p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:77px;
  height:21px;
}
#u729p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u729p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u729p002 {
  position:absolute;
  left:63px;
  top:0px;
  width:2px;
  height:1px;
}
#u729p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u729.compound {
  width:0px;
  height:0px;
}
#u729 {
  position:absolute;
  left:379px;
  top:275px;
  width:64px;
  height:1px;
}
#u730 {
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
