body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:384px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:576px;
}
#u785 {
  position:absolute;
  left:50px;
  top:22px;
  width:334px;
  height:576px;
}
#u786 {
  position:absolute;
  left:2px;
  top:280px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:21px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u787 {
  position:absolute;
  left:161px;
  top:29px;
  width:146px;
  height:21px;
  text-align:center;
}
#u788 {
  position:absolute;
  left:0px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u789 {
  position:absolute;
  left:50px;
  top:526px;
  width:334px;
  height:26px;
  text-align:left;
}
#u790 {
  position:absolute;
  left:2px;
  top:5px;
  width:330px;
  word-wrap:break-word;
}
