body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:482px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:580px;
}
#u1836 {
  position:absolute;
  left:47px;
  top:38px;
  width:338px;
  height:580px;
}
#u1837 {
  position:absolute;
  left:2px;
  top:282px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u1838 {
  position:absolute;
  left:131px;
  top:85px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u1839 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
}
#u1840 {
  position:absolute;
  left:139px;
  top:162px;
  width:224px;
  height:16px;
}
#u1841 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u1842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1842 {
  position:absolute;
  left:47px;
  top:472px;
  width:338px;
  height:43px;
  text-align:left;
}
#u1843 {
  position:absolute;
  left:2px;
  top:14px;
  width:334px;
  word-wrap:break-word;
}
#u1844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u1844 {
  position:absolute;
  left:131px;
  top:107px;
  width:124px;
  height:16px;
  color:#008000;
}
#u1845 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u1846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
}
#u1846 {
  position:absolute;
  left:139px;
  top:188px;
  width:224px;
  height:16px;
}
#u1847 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u1848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1848 {
  position:absolute;
  left:47px;
  top:568px;
  width:338px;
  height:50px;
  color:#FFFFFF;
}
#u1849 {
  position:absolute;
  left:2px;
  top:17px;
  width:334px;
  word-wrap:break-word;
}
#u1850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1850 {
  position:absolute;
  left:47px;
  top:12px;
  width:435px;
  height:16px;
}
#u1851 {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  white-space:nowrap;
}
