body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:807px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:602px;
}
#u1521 {
  position:absolute;
  left:48px;
  top:15px;
  width:334px;
  height:602px;
}
#u1522 {
  position:absolute;
  left:2px;
  top:293px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1523 {
  position:absolute;
  left:468px;
  top:588px;
  width:339px;
  height:32px;
}
#u1524 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u1525_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:112px;
  height:21px;
}
#u1525p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:103px;
  height:1px;
}
#u1525p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:114px;
  height:21px;
}
#u1525p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1525p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u1525p002 {
  position:absolute;
  left:100px;
  top:0px;
  width:2px;
  height:1px;
}
#u1525p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u1525.compound {
  width:0px;
  height:0px;
}
#u1525 {
  position:absolute;
  left:367px;
  top:604px;
  width:101px;
  height:1px;
}
#u1526 {
  position:absolute;
  left:2px;
  top:-8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
