body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1117px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:451px;
}
#u1348 {
  position:absolute;
  left:6px;
  top:81px;
  width:1111px;
  height:451px;
}
#u1349 {
  position:absolute;
  left:2px;
  top:218px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1350 {
  position:absolute;
  left:6px;
  top:40px;
  width:364px;
  height:16px;
}
#u1351 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  white-space:nowrap;
}
